html,body {
	height:100%;
}

header {
		
	display:block;
	padding:10px 0px;
}
section {
	width: 79%;
	float: left;
	overflow: auto;
	padding-bottom: 60px;
	padding-top:30px;
	border:solid;
}
article{
	top:20px;
	
}

aside {
	float: right;
	border: 1px solid red;
	width: 19%;
	border: 1px solid red;
}
footer {
	position: relative;
	margin-top: -50px;
	height: 40px; 
	padding:5px 0px;
	clear: both;
	text-align: center;
	color: black;
	padding-top:40px;
}

.logo {
 display: inline-block;
 padding-right:10px;
}
.encabezado {
 display: inline-block;
}
.banner {
 display: inline-block;
}
.navbar {
 padding-bottom:40px;
}

#header-image-menu{ 
    top: 10px; 
    position: relative; 
} 
  
#header-image-menu img{ 
    width: 100%; 
    margin: none; 
    padding: none; 
} 
  
#image-text{ 
    position: absolute; 
    top: 10%; 
    left: 25%; 
    font-family: 'Roboto'; 
    color: white; 
    transform: translate(-30%, -30%); 
    text-align: center; 
}

#listadesplegable {
    margin: auto;
    width: 500px;
font-family: Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style: none;
}

.menu li> a {
  float: left;
  color: black;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 17px;
  border:solid;
}
.menu li a:hover {
    background-color: #7DA4DA;
}
.menu > li{
    float: none;
    text-align: center;
}
.menu >li>ul{
 display:none ;
 min-width: 80px;
 
}
.menu li:hover .Listadesplegable {
display: block;
}
.Listadesplegable a{
    text-align: center;
    display: block;
}
.menu:hover .Listadesplegable {
    display: block;
}
.Listadesplegable:hover {
    display: block;
}
